body{
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.tour{
    background: #074357;
    height: 100vh;
    margin: 0;
}

.image-container{
    height: 30rem;
    width: 78%;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-left: 12%;
    overflow: hidden;

}

canvas{
    width: 100%;
}
