.tour-container{
    width: 100%;
}
.image-container{
    border-radius: 12px;
    height: 35rem;
    position: relative;
    display: block;
    overflow: hidden;
    cursor: pointer;
}
canvas{
    width: 100%;
}
.tour-infospot{
    display: none;
    height: 65%;
    cursor: none;
}
.tour-infospot-container{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: #f8f8fa;
    box-shadow: 0px 0px 10px #111;
}
.tour-infospot-container img{
    height: 100%;
    border-radius: 12px;
}
.tour-infospot-container div{
    width: 420px;
    height: 100%;
}
.tour-infospot-container p{
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 137%;
  text-transform: none;
  margin: 12px 34px 12px 34px;
}
.tour-infospot-container div p{
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 137%;
  text-transform: none;
  margin: 12px 34px 12px 34px;
}
